In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pprint

pd.options.display.max_columns = 150

# chargement et affichage des donn√©es

df_data = pd.read_csv("clean_kc_house_data.csv")
df_data.head()

,price(thousand dollard),m2_living,grade,m2_above,bathrooms,view,m2_basement,bedrooms,zipcode_98004,waterfront,floors,zipcode_98039,zipcode_98040,zipcode_98112,zipcode_98006,zipcode_98033,zipcode_98168,zipcode_98001,zipcode_98042,zipcode_98023
0,221.9,109.62554,7,109.62554,1.00,0,0.00000,3,0,0,1.0,0,0,0,0,0,0,0,0,0
1,538.0,238.76071,7,201.59951,2.25,0,37.16120,3,0,0,2.0,0,0,0,0,0,0,0,0,0
2,180.0,71.53531,6,71.53531,1.00,0,0.00000,2,0,0,1.0,0,0,0,0,0,0,0,0,0
3,604.0,182.08988,7,97.54815,3.00,0,84.54173,4,0,0,1.0,0,0,0,0,0,0,0,0,0
4,510.0,156.07704,8,156.07704,2.00,0,0.00000,3,0,0,1.0,0,0,0,0,0,0,0,0,0

In [10]:
df_data.to_csv("preparation_data.csv",index=False)